<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Martin Batista - QA Engineer</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/scripts.js"></script>
</head>
<body onload="startTime()">
    <div class="container">
        <div class="top">
            <div id="date">Date</div>
            <h1>Martin Batista - QA Engineer</h1>
            <div id="clock"></div>
        </div>
        <div class="main">
            <div class="widget">
                <h3>Test Cases</h3>
            </div>
            <div class="widget">
                <h3>Selenium Automation Scripts</h3>
            </div>
            <div class="widget">
                <h3>Cucumber Weekly Calendar</h3>
                <table class="center">
                    <tr><td>Mon</td><td><textarea id="mon" class="weekday" cols="40" rows="2"></textarea></td></tr>
                    <tr><td>Tues</td><td><textarea id="tues" class="weekday" cols="40" rows="2"></textarea></td></tr>
                    <tr><td>Wed</td><td><textarea id="wed" class="weekday" cols="40" rows="2"></textarea></td></tr>
                    <tr><td>Thurs</td><td><textarea id="thurs" class="weekday" cols="40" rows="2"></textarea></td></tr>
                    <tr><td>Fri</td><td><textarea id="fri" class="weekday" cols="40" rows="2"></textarea></td></tr>
                    <tr><td>Sat</td><td><textarea id="sat" class="weekday" cols="40" rows="2"></textarea></td></tr>
                    <tr><td>Sun</td><td><textarea id="sun" class="weekday" cols="40" rows="2"></textarea></td></tr>
                </table>
            </div>
            <br>
            
        </div>
    </div>
</body>

<script>
// separator...    
var sp = "/";
// day , month, year...
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth();
var yyyy = today.getFullYear();

// add a zero for numbers < 10...
if (dd<10) dd='0' +dd;
if (mm<10) mm='0' +mm;

// display on the screen...
$("#date").html(mm+sp+dd+sp+yyyy);    // <div id="date">Date</div>



</script>
</html>

